In [137]:
import pandas as pd
import numpy as np

In [138]:
data = pd.read_csv("googleplaystore.csv")

In [139]:
data.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [140]:
rev = pd.read_csv("googleplaystore_user_reviews.csv")

In [141]:
rev.head(2)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462

In [142]:
data.shape

(10841, 13)

In [143]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [144]:
data = data[data['Price']== '0']

In [145]:
data.shape

(10040, 13)

In [146]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10040 entries, 0 to 10840
Data columns (total 13 columns):
App               10040 non-null object
Category          10040 non-null object
Rating            8719 non-null float64
Reviews           10040 non-null object
Size              10040 non-null object
Installs          10040 non-null object
Type              10039 non-null object
Price             10040 non-null object
Content Rating    10040 non-null object
Genres            10040 non-null object
Last Updated      10040 non-null object
Current Ver       10034 non-null object
Android Ver       10039 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [147]:
data['Category'].value_counts()

FAMILY                 1781
GAME                   1061
TOOLS                   765
BUSINESS                446
PRODUCTIVITY            396
LIFESTYLE               363
COMMUNICATION           360
SPORTS                  360
MEDICAL                 354
FINANCE                 349
HEALTH_AND_FITNESS      325
PHOTOGRAPHY             313
PERSONALIZATION         309
SOCIAL                  292
NEWS_AND_MAGAZINES      281
SHOPPING                258
TRAVEL_AND_LOCAL        246
DATING                  227
BOOKS_AND_REFERENCE     203
VIDEO_PLAYERS           171
EDUCATION               152
ENTERTAINMENT           147
MAPS_AND_NAVIGATION     132
FOOD_AND_DRINK          125
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       84
AUTO_AND_VEHICLES        82
WEATHER                  74
EVENTS                   63
ART_AND_DESIGN           62
COMICS                   60
PARENTING                58
BEAUTY                   53
Name: Category, dtype: int64

In [148]:
data.dropna(inplace = True)

In [149]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8715 entries, 0 to 10840
Data columns (total 13 columns):
App               8715 non-null object
Category          8715 non-null object
Rating            8715 non-null float64
Reviews           8715 non-null object
Size              8715 non-null object
Installs          8715 non-null object
Type              8715 non-null object
Price             8715 non-null object
Content Rating    8715 non-null object
Genres            8715 non-null object
Last Updated      8715 non-null object
Current Ver       8715 non-null object
Android Ver       8715 non-null object
dtypes: float64(1), object(12)
memory usage: 953.2+ KB

In [150]:
data['Android Ver'] = data['Android Ver'].str.split('.', n = 1 , expand= True)

In [151]:
data['Size'] = data['Size'].str.split('M', n = 1 , expand= True)

In [152]:
data['Reviews'] = data['Reviews'].str.split('M', n = 1 , expand= True)

In [153]:
data['Installs'] = data['Installs'].str.split('+', n = 1 , expand= True)

In [154]:
data.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,"10,000",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,"500,000",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4

In [155]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8715 entries, 0 to 10840
Data columns (total 13 columns):
App               8715 non-null object
Category          8715 non-null object
Rating            8715 non-null float64
Reviews           8715 non-null object
Size              8715 non-null object
Installs          8715 non-null object
Type              8715 non-null object
Price             8715 non-null object
Content Rating    8715 non-null object
Genres            8715 non-null object
Last Updated      8715 non-null object
Current Ver       8715 non-null object
Android Ver       8715 non-null object
dtypes: float64(1), object(12)
memory usage: 953.2+ KB

In [156]:
data.drop(columns = 'Type', inplace = True)

In [157]:
data.drop(columns = "Price", inplace = True)

In [158]:
data.head(2)

,App,Category,Rating,Reviews,Size,Installs,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,"10,000",Everyone,Art & Design,"January 7, 2018",1.0.0,4
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,"500,000",Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4

In [159]:
data['Reviews']= data['Reviews'].astype('int64')

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8715 entries, 0 to 10840
Data columns (total 11 columns):
App               8715 non-null object
Category          8715 non-null object
Rating            8715 non-null float64
Reviews           8715 non-null int64
Size              8715 non-null object
Installs          8715 non-null object
Content Rating    8715 non-null object
Genres            8715 non-null object
Last Updated      8715 non-null object
Current Ver       8715 non-null object
Android Ver       8715 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 817.0+ KB

In [161]:
data.drop(columns = 'Genres', inplace = True)

In [162]:

data['Last Updated'] = data['Last Updated'].str.split(',').str[1]

In [163]:
data.drop(columns = 'Current Ver', inplace = True)

In [164]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Content Rating,Last Updated,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,"10,000",Everyone,2018,4
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,"500,000",Everyone,2018,4
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000",Everyone,2018,4
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,"50,000,000",Teen,2018,4
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000",Everyone,2018,4

In [165]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8715 entries, 0 to 10840
Data columns (total 9 columns):
App               8715 non-null object
Category          8715 non-null object
Rating            8715 non-null float64
Reviews           8715 non-null int64
Size              8715 non-null object
Installs          8715 non-null object
Content Rating    8715 non-null object
Last Updated      8715 non-null object
Android Ver       8715 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 680.9+ KB

In [166]:
 data['Installs'] = data['Installs'].str.replace(',', '')

In [167]:
data['Size']= data['Size'].str.replace('k', '000')

In [168]:
data['Size']=   data['Size'].str.replace('Varies with device', 'NaN')

In [169]:
data.dropna(inplace = True)

In [170]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8715 entries, 0 to 10840
Data columns (total 9 columns):
App               8715 non-null object
Category          8715 non-null object
Rating            8715 non-null float64
Reviews           8715 non-null int64
Size              8715 non-null object
Installs          8715 non-null object
Content Rating    8715 non-null object
Last Updated      8715 non-null object
Android Ver       8715 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 680.9+ KB

In [171]:
data = data[data['Size'] != 'NaN']

In [172]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Content Rating,Last Updated,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19,10000,Everyone,2018,4
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14,500000,Everyone,2018,4
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Everyone,2018,4
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25,50000000,Teen,2018,4
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Everyone,2018,4

In [173]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7146 entries, 0 to 10840
Data columns (total 9 columns):
App               7146 non-null object
Category          7146 non-null object
Rating            7146 non-null float64
Reviews           7146 non-null int64
Size              7146 non-null object
Installs          7146 non-null object
Content Rating    7146 non-null object
Last Updated      7146 non-null object
Android Ver       7146 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 558.3+ KB

In [174]:
data['Reviews']= data['Reviews'].astype('int64')

In [175]:
data['Size']= data['Size'].astype('float64')

In [176]:
data['Installs']= data['Installs'].astype('int64')

In [177]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7146 entries, 0 to 10840
Data columns (total 9 columns):
App               7146 non-null object
Category          7146 non-null object
Rating            7146 non-null float64
Reviews           7146 non-null int64
Size              7146 non-null float64
Installs          7146 non-null int64
Content Rating    7146 non-null object
Last Updated      7146 non-null object
Android Ver       7146 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 558.3+ KB

In [178]:
data['Last Updated']= data['Last Updated'].astype('int64')

In [179]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7146 entries, 0 to 10840
Data columns (total 9 columns):
App               7146 non-null object
Category          7146 non-null object
Rating            7146 non-null float64
Reviews           7146 non-null int64
Size              7146 non-null float64
Installs          7146 non-null int64
Content Rating    7146 non-null object
Last Updated      7146 non-null int64
Android Ver       7146 non-null object
dtypes: float64(2), int64(3), object(4)
memory usage: 558.3+ KB

In [180]:
data.head(2)

,App,Category,Rating,Reviews,Size,Installs,Content Rating,Last Updated,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Everyone,2018,4
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Everyone,2018,4

In [181]:
#  FIRST  DATASET IS READY TO BE ENCODED

In [182]:
#   YAHOOO!!!!  HURRAYY !!!!

# Now the Second DataSet

In [221]:
rev.head(2)

rev['App'].value_counts()

Bowmasters                                            312
Helix Jump                                            273
Angry Birds Classic                                   273
Calorie Counter - MyFitnessPal                        254
Duolingo: Learn Languages Free                        240
Candy Crush Saga                                      240
Garena Free Fire                                      222
8 Ball Pool                                           219
Calorie Counter - Macros                              200
10 Best Foods for You                                 194
CBS Sports App - Scores, News, Stats & Watch Live     192
Google Photos                                         191
Alto's Adventure                                      175
8fit Workouts & Meal Planner                          171
DRAGON BALL LEGENDS                                   167
Candy Crush Soda Saga                                 166
Clash Royale                                          165
Adobe Acrobat Reader                                  162
Episode - Choose Your Story                           160
Block Puzzle                                          154
Flow Free                                             154
Bubble Shooter                                        145
Calorie Counter - MyNetDiary                          139
Agar.io                                               136
Cooking Fever                                         135
Calorie Counter & Diet Tracker                        135
Galaxy Attack: Alien Shooter                          134
Gardenscapes                                          133
Colorfy: Coloring Book for Adults - Free              133
Facebook                                              132
                                                     ...
Calendar Widget Month + Agenda                          2
Amazon Prime Video                                      2
Draw Your Game                                          2
Google+                                                 2
CM Browser - Ad Blocker , Fast Download , Privacy       2
Daily Workouts - Exercise Fitness Routine Trainer       1
Google Slides                                           1
Caf - Mon Compte                                        1
Calendar+ Schedule Planner App                          1
CallApp: Caller ID, Blocker & Phone Call Recorder       1
Caller ID +                                             1
All-in-One Mahjong 3 FREE                               1
HD Camera                                               1
Best Ovulation Tracker Fertility Calendar App Glow      1
GPS Map Free                                            1
Fruit Block - Puzzle Legend                             1
Draw In                                                 1
DashClock Widget                                        1
Draw a Stickman: EPIC 2                                 1
Apartment Decorating Ideas                              1
Calculator - unit converter                             1
Best Fiends - Free Puzzle Game                          1
Google Trips - Travel Planner                           1
Bed Time Fan - White Noise Sleep Sounds                 1
Free Live Talk-Video Call                               1
HomeWork                                                1
Draw A Stickman                                         1
Discover Mobile                                         1
Drawing for Kids Learning Games for Toddlers age 3      1
CBS News                                                1
Name: App, Length: 865, dtype: int64

In [184]:
rev.dropna(inplace = True)

In [185]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [186]:
rev['Sentiment'] = encoder.fit_transform(rev.iloc[:, 2].values) -1

In [187]:
rev.head(3)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,1,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,1,0.25,0.288462
3,10 Best Foods for You,Works great especially going grocery store,1,0.40,0.875000

In [227]:
rev_new = rev.groupby('App')['Sentiment_Polarity'].sum().sort_values(ascending = False).to_frame()

In [228]:
rev_new.head(2)

                                Sentiment_Polarity
App
10 Best Foods for You                    91.322167
Calorie Counter - MyFitnessPal           54.996746

In [230]:
rev_new1 = rev.groupby('App')['Sentiment_Subjectivity'].sum().sort_values(ascending = False).to_frame()

In [231]:
rev_new = pd.merge(rev_new1, rev_new, on = 'App')

In [232]:
rev_new.head(2)

                     Sentiment_Subjectivity  Sentiment_Polarity
App
Bowmasters                       156.171085           19.161620
Angry Birds Classic              146.023951           -2.057709

# Second Dataframe also Ready!

In [233]:
final = pd.merge(data, rev_new, on = 'App')

In [234]:
final.head()

,App,Category,Rating,Reviews,Size,Installs,Content Rating,Last Updated,Android Ver,Sentiment_Subjectivity,Sentiment_Polarity
0,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Everyone,2018,4,28.227778,6.716667
1,Coloring book moana,FAMILY,3.9,974,14.0,500000,Everyone,2018,4,28.227778,6.716667
2,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33.0,1000000,Everyone,2017,3,47.110267,24.163460
3,FlipaClip - Cartoon animation,ART_AND_DESIGN,4.3,194216,39.0,5000000,Everyone,2018,4,2.716905,1.650595
4,Boys Photo Editor - Six Pack & Men's Suit,ART_AND_DESIGN,4.1,654,12.0,100000,Everyone,2018,4,18.213333,10.773333

In [235]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 0 to 797
Data columns (total 11 columns):
App                       798 non-null object
Category                  798 non-null object
Rating                    798 non-null float64
Reviews                   798 non-null int64
Size                      798 non-null float64
Installs                  798 non-null int64
Content Rating            798 non-null object
Last Updated              798 non-null int64
Android Ver               798 non-null object
Sentiment_Subjectivity    798 non-null float64
Sentiment_Polarity        798 non-null float64
dtypes: float64(4), int64(3), object(4)
memory usage: 74.8+ KB

# Data ready for Machine Learning Process

In [236]:
y= final.iloc[:, 2]

In [237]:
y = encoder.fit_transform(y)

In [238]:
fin = final.drop(columns ='Rating')

In [239]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 0 to 797
Data columns (total 10 columns):
App                       798 non-null object
Category                  798 non-null object
Reviews                   798 non-null int64
Size                      798 non-null float64
Installs                  798 non-null int64
Content Rating            798 non-null object
Last Updated              798 non-null int64
Android Ver               798 non-null object
Sentiment_Subjectivity    798 non-null float64
Sentiment_Polarity        798 non-null float64
dtypes: float64(3), int64(3), object(4)
memory usage: 68.6+ KB

In [240]:
fin['Category'] = encoder.fit_transform(fin.iloc[:,1].values)

In [241]:
fin['Content Rating'] = encoder.fit_transform(fin.iloc[:,5].values)
fin['Android Ver'] = encoder.fit_transform(fin.iloc[:,7].values)

In [242]:
fin.head()

,App,Category,Reviews,Size,Installs,Content Rating,Last Updated,Android Ver,Sentiment_Subjectivity,Sentiment_Polarity
0,Coloring book moana,0,967,14.0,500000,1,2018,3,28.227778,6.716667
1,Coloring book moana,11,974,14.0,500000,1,2018,3,28.227778,6.716667
2,Garden Coloring Book,0,13791,33.0,1000000,1,2017,2,47.110267,24.163460
3,FlipaClip - Cartoon animation,0,194216,39.0,5000000,1,2018,3,2.716905,1.650595
4,Boys Photo Editor - Six Pack & Men's Suit,0,654,12.0,100000,1,2018,3,18.213333,10.773333

In [243]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 0 to 797
Data columns (total 10 columns):
App                       798 non-null object
Category                  798 non-null int32
Reviews                   798 non-null int64
Size                      798 non-null float64
Installs                  798 non-null int64
Content Rating            798 non-null int32
Last Updated              798 non-null int64
Android Ver               798 non-null int32
Sentiment_Subjectivity    798 non-null float64
Sentiment_Polarity        798 non-null float64
dtypes: float64(3), int32(3), int64(3), object(1)
memory usage: 59.2+ KB

In [244]:
fin = fin.drop(columns='Size')

In [245]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 0 to 797
Data columns (total 9 columns):
App                       798 non-null object
Category                  798 non-null int32
Reviews                   798 non-null int64
Installs                  798 non-null int64
Content Rating            798 non-null int32
Last Updated              798 non-null int64
Android Ver               798 non-null int32
Sentiment_Subjectivity    798 non-null float64
Sentiment_Polarity        798 non-null float64
dtypes: float64(2), int32(3), int64(3), object(1)
memory usage: 53.0+ KB

In [246]:
X = fin.iloc[:, 1:]

In [247]:
from sklearn.preprocessing import OneHotEncoder

oencoder = OneHotEncoder(categorical_features=[0])

In [248]:
X = oencoder.fit_transform(X).toarray()

C:\Users\Ayushman112233\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Ayushman112233\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [271]:
from sklearn.model_selection import train_test_split
    
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [272]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.53749999999999998